@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: #285224;
}
div.carta {
  height: 400px;
  width: 280px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
}
#numero {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
  font-size: 80px;
  font-family: "Roboto", sans-serif;
}
#EsquinaArriba {
  margin-bottom: 20px;
  padding-left: 5%;
  font-size: 70px;
}
#EsquinaAbajo {
  padding-right: 5%;
  font-size: 70px;
  text-align: right;
  margin-top: 0px;
}
